.label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 15px;
}
.number-value {
    color: #b65e24;
    font-size: 15px;
}
.value {
    font-size: 15px;

}
.employee_details_card {
    /* max-width: 800px; */
    border-radius: 10px;
    margin: auto;
    background-color: #ffffff;
    padding-top: 3px;
    padding-bottom: 6px;

    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}