.label1 {
    font-weight: bold;
    margin-right: 10px;
    font-size: 15px;
}
.label2 {
    font-weight: bold;
    margin-right: 10px;
    font-size: 17px;
}
.label3{
    font-weight: bold;
    /* margin-right: 10px; */
    font-size: 15px;
}
.number-value {
    color: #b65e24;
    font-size: 15px;
}
.value {
    font-size: 15px;

}

/* .detail-item{
    display: flex;
    justify-content: space-between;
} */

.employee_details_card {
    border-radius: 10px;
    background-color: #ffffff;
    padding-top: 3px;
    padding-bottom: 6px;

    padding-left: 4px;
    padding-right: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.employee_performance .row{
    /* margin-left: auto; */
    margin-right: auto;
}