.chart-container {
  position: relative;
  height: fit-content;
  /* border: 1px solid #aaa; */
  margin: 0.5rem;
  overflow: visible;
  text-align: center;
}

.orgchart .node .avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; */

  margin: 5px;
}

.orgchart .node .title {
  box-sizing: border-box;
  width: 180px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  height: auto;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  background-color: rgba(89, 88, 102, 0.8);
  color: #fff;
  border-radius: 4px 4px 0 0; 
  margin: auto;
}

.orgchart .node .content {

  box-sizing: border-box;
  width: 180px;
  height: auto;
  /* line-height: 20px; */
  font-size: 12px;
  font-weight: bold;

  border: 1px solid rgba(47, 106, 146, 0.8);
  /* border-width: 0 1px 1px 1px; */
  border-radius: 0 0 0.25rem 0.25rem;
  text-align: center;
  background-color: #fff;
  color: #333;
  text-overflow: ellipsis;
  white-space: wrap;
}